.container {
  margin: 40px auto;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 30px;
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

h6 {
  padding-bottom: 30px;
}

.temp,
.realFeel {
  display: flex;
  justify-content: center;
}

.fa-location-dot {
  margin: 6px;
}

h3 {
  padding-bottom: 20px;
}

li {
  list-style: none;
}

.details {
  padding-top: 30px;
}

p {
  margin: 0;
}

.fa-solid {
  display: block;
  margin: 0 auto;
}

h3 {
  text-transform: capitalize;
}

input {
  border-radius: 10px;
}

input {
  border: 1px solid lightgrey;
}
.button {
  background: #fff;
}

.button:hover {
  background: #90d3f8;
}

a {
  text-decoration: none;
  color: #544e88;
}

.codeLink {
  text-align: center;
}
